<div class="w-100 vh-100 relative" id="desktop">
  <nav class="absolute top-0 left-0 right-0 flex items-center pv2 ph4 bw2">
    <img class="logo mr4" src="https://static.thenounproject.com/png/1783288-200.png">
    <a class="black link no-underline f4 mr4 b" href="#">{{activeWindowTitle}}</a>
    <a class="black link no-underline f5 mr4" href="#">File</a>
    <a class="black link no-underline f5 mr4" href="#">Edit</a>
    <a class="black link no-underline f5 mr4" href="#">View</a>
    <a class="black link no-underline f5 mr4" href="#">Window</a>
    <a class="black link no-underline f5" href="#">Help</a>
  </nav>
  <div class="restrictor absolute right-2 bottom-2 left-2">
    <transition-group name="fade">
      <draggable-window :id="window.id" v-if="window.isShowing" v-for="(window, $index) in windows" :key="$index" :content="window.comp" :title="window.title" :index="window.id">
        {{ window.content }}
      </draggable-window>
    </transition-group>
  </div>
  <div class="absolute top-1 left-0 bottom-0 h-100 flex flex-column pa3 mt4">
    <div class="flex items-center pv3">
      <button class="flex-auto bn bg-transparent" @click="openWindow('welcome')">
        <figure class="mt0 mh0 mb2 w3 h3 db center icon me"></figure>
        <h4 class="ma0">Welcome</h4>
      </button>
    </div>
    <div class="flex items-center pv3">
      <button class="flex-auto bn bg-transparent" @click="openWindow('home')">
        <figure class="mt0 mh0 mb2 w3 h3 db center icon home"></figure>
        <h4 class="ma0">My Home</h4>
      </button>
    </div>
     <div class="flex items-center pv3">
      <button class="flex-auto bn bg-transparent" @click="openWindow('projects')">
        <figure class="mt0 mh0 mb2 w3 h3 db center icon writing"></figure>
        <h4 class="ma0">Projects</h4>
      </button>
    </div> 
    <div class="flex items-center pv3">
      <button class="flex-auto bn bg-transparent" @click="openWindow('calendar')">
        <figure class="mt0 mh0 mb2 w3 h3 db center icon calendar"></figure>
        <h4 class="ma0">Calendar</h4>
      </button>
    </div>
  </div>
</div>

<script type="x/template" id="draggable-window">
	<div :id="id" class="window absolute bg-white ba bw2 b--black">
    <div class="bb b--black bw2 flex items-center pa1">
      <button @click="closeWindow" class="bg-transparent bn dim flex items-center">
      	<i class="material-icons mr1 f2">clear</i>
      </button>
    </div>
    <div class="pa3">
    	<div :is="content"></div>
    </div>
  </div>
</script>

<script type="text/x-template" id="welcome-template">
	<div class="measure">
  	<p class="mt0 f2 b"><a class="dark-pink link no-underline" href="#" target="_blank">Gustavo J. Chico</span></a>, a multi-faceted Spanish designer.</p>
</script>
<script type="text/x-template" id="home-template">
	<div class="measure">
  	<p class="mt0">Enjoys making and playing videogames, which includes every one of its parts individually like art, animation, music and design.</p><p>Founder of <a class="dark-pink link no-underline" href="#" target="_blank">Naran Studio</a>, creating and producing music with neural networks.</p>
    <img src='https://images.unsplash.com/photo-1550745165-9bc0b252726f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60' alt='unsplash.com'/>
  </div>
</script>
<script type="text/x-template" id="project-template">
	<div class="measure">
  	<p class="mt0">I've been writing articles on <a class="dark-pink link no-under-line" href="#" target="_blank">Medium</a></p>
    <hr class="o-40 mb3">
    <a href="#" target="_blank" class="no-underline dark-pink link fw6 db mb3">This is an article
</a>
<a href="#" target="_blank" class="no-underline dark-pink link fw6 db mb3">As well as this one!</a>
<a href="#" target="_blank" class="no-underline dark-pink link fw6 db mb3">My god, how many of these are there?</a>
<a href="#" target="_blank" class="no-underline dark-pink link fw6 db mb3">Article title</a>
  </div>
</script>
<script type="text/x-template" id="calendar-template">
	<div class="measure-wide">
  	<p class="mt0">Countdown until my school year <strong>ends</strong> and I'm free to develop anything</p>
    <hr class="o-40 mb3">
    <h4 class="mt0 mb2">Get dev-ing in:</h4>
    <div class="f4" id="timeLeft"></div>
  </div>
</script>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/interact.js/1.2.8/interact.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js'></script>
<script src='https://cdn.rawgit.com/HugoGiraudel/Countdown.js/a88b61fc/countdown.min.js'></script>

    <script src="js/index.js"></script>