@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:400,700&display=swap');
 body {
	 background: #fff;
	 font-family: 'Red Hat Display', sans-serif;
	 overflow: hidden;
	 position: relative;
}
 button {
	 font-size: 18px;
	 font-family: 'Red Hat Display', sans-serif;
}
 nav {
	 border-style: none none dashed none;
}
 .logo {
	 height: 30px;
	 width: 30px;
}
 .restrictor {
	 top: 5rem;
	 left: 7rem;
	 bottom: -1rem;
}
 .window {
	 min-height: 30px;
	 border-bottom: 6px solid black;
}
 .fade-enter-active, .fade-leave-active {
	 -webkit-transition: opacity 0.2s;
	 transition: opacity 0.2s;
	 transition: transform 0.2s ease-in-out;
	 -webkit-transition: transform 400ms cubic-bezier(0.64, 0, 0.13, 1, opacity 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94));
	/* older webkit */
	 -webkit-transition: transform 400ms cubic-bezier(0.64, -0.51, 0.13, 1.26), opacity 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	 -moz-transition: transform 400ms cubic-bezier(0.64, -0.51, 0.13, 1.26), opacity 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	 -o-transition: transform 400ms cubic-bezier(0.64, -0.51, 0.13, 1.26), opacity 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	 transition: transform 400ms cubic-bezier(0.64, -0.51, 0.13, 1.26), opacity 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	/* custom */
	 -webkit-transition-timing-function: cubic-bezier(0.64, 0, 0.13, 1);
	/* older webkit */
	 -webkit-transition-timing-function: cubic-bezier(0.64, -0.51, 0.13, 1.26);
	 -moz-transition-timing-function: cubic-bezier(0.64, -0.51, 0.13, 1.26);
	 -o-transition-timing-function: cubic-bezier(0.64, -0.51, 0.13, 1.26);
	 transition-timing-function: cubic-bezier(0.64, -0.51, 0.13, 1.26);
	/* custom */
}
 .fade-enter, .fade-leave-to {
	 opacity: 0;
}
 .icon {
	 background-repeat: no-repeat;
	 background-position: center center;
	 background-size: contain;
}
 .icon.me {
	 background-image: url("https://static.thenounproject.com/png/770827-200.png");
}
 .icon.home {
	 background-image: url("https://static.thenounproject.com/png/934897-200.png");
}
 .icon.writing {
	 background-image: url("https://static.thenounproject.com/png/1694145-200.png");
}
 .icon.calendar {
	 background-image: url("https://static.thenounproject.com/png/2080654-200.png");
}
 